<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Book</title>
</head>
<body>
<form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="isbn">ISBN</label>
    <input type="text" th:field="*{isbn}" id="isbn" placeholder="ISBN" required>
    <br/>

    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title" required>
    <br/>

    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="Author" required>
    <br/>

    <label for="genre">Genre</label>
    <input type="text" th:field="*{genre}" id="genre" placeholder="Genre" required>
    <br/>

    <label for="description">Description</label>
    <textarea th:field="*{description}" id="description" placeholder="Description" required></textarea>
    <br/>

    <input type="submit" value="Update Book">
</form>
</body>
</html>